* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

a :hover{
    opacity: 0.7;
}

.logo {
    width: 150px;
    height: 40px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Metal Mania';
    font-size: large;
    background: #2D2A4A;
    height: 8vh;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}